<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cang.blog.mapper.BlogEventMapper">
  <resultMap id="BaseResultMap" type="com.cang.blog.model.BlogEvent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="event_desc" jdbcType="VARCHAR" property="eventDesc" />
    <result column="is_finished" jdbcType="INTEGER" property="isFinished" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
</mapper>